:root {
    --primary-color: #fff;
    --secondary-color: #000;
}

.dark-theme {
    --primary-color: #000;
    --secondary-color: #fff;
}

header {
    background-image: url(Img/background.png);
    height: 100vh;
    background-size: cover;
    background-position: center;
}

ul {
    float: right;
    list-style-type: none;
    margin-top: 30px;
}

ul li {
    display: inline-flex;
    margin-top: 10px;
}

ul li a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s ease;
    -webkit-transition: 0.6s ease;
    -moz-transition: 0.6s ease;
    -ms-transition: 0.6s ease;
    -o-transition: 0.6s ease;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

ul li a:hover {
    background-color: var(--primary-color);
    color: var(--secondary-color);
}

.logo img {
    float: left;
    width: 150px;
    height: auto;
}

.main {
    max-width: 1500px;
    margin: auto;
}

#moon {
    width: 25px;
    cursor: pointer;
}

.darkmoon {
    flex: 1;
    float: right;
    margin-top: 15px;
}

.body-pic {
    width: 20%;
    height: 40%;
    position: absolute;
    bottom: 50px;
    right: 0px;
}

.body-pic img {
    height: 100%;
    position: absolute;
    text-align: center;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.body-pic:hover .font-pic {
    right: 300px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}

.body-pic:hover .back-pic {
    top: 50px;
    transition: 1s ease;
    -webkit-transition: 1s ease;
    -moz-transition: 1s ease;
    -ms-transition: 1s ease;
    -o-transition: 1s ease;
}
.sub-menu{
    display:none;
}
